@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@theme {
--color-Blue-950:    #052c53;   /* hsl(213, 96%, 18%) */
--color-Purple-600:  #483eff;   /* hsl(243, 100%, 62%) */
--color-Blue-300:    #adbdff;   /* hsl(228, 100%, 84%) */
--color-Blue-200:    #d6e4ff;   /* hsl(206, 94%, 87%) */
--color-Red-500:     #ed3548;   /* hsl(354, 84%, 57%) */
--color-Grey-500:    #9295a0;   /* hsl(231, 11%, 63%) */
--color-Purple-200:  #d6d9f5;   /* hsl(229, 24%, 87%) */
--color-Blue-100:    #f0f7ff;   /* hsl(218, 100%, 97%) */
--color-Blue-50:     #f9fbff;   /* hsl(231, 100%, 99%) */
--color-White:       #ffffff;   /* hsl(0, 100%, 100%) */
--breakpoint-nt:  85rem;
--breakpoint-tableS:  50rem;
}


 body {
    background:  #d6e4ff;
    width:100%;
    height: 100vh;
    font-family: "Ubuntu", sans-serif; 
    z-index: 2;
}


 main {
    background:  #d6e4ff;
    height: 100%;
}



#stepBanner {
  display: flex;
  justify-content: center;
  width: 100%;
  height:30vh;
  background: url(./assets/images/bg-sidebar-mobile.svg) no-repeat;
  background-size: contain;
}


.custom-toggle:before {
  background-color: white !important; /* bolinha branca */
}


.custom  + div {
     margin-right: 1em;
}


.checkbox-container {
  border: 1px solid gray;
}

.checkbox-container:has(input[type='checkbox']:checked ) {
   background:  #d6d9f5;
   border-color: #483eff;
}


@media (min-width: 480px) {
   #stepBanner {
  display: flex;
  justify-content: center;
  width: 100%;
  height:50vh;
  background: url(./assets/images/bg-sidebar-mobile.svg) no-repeat;
  background-size: cover;
}
}

@media (min-width: 1360px) {

.move-left {
  position:relative;
  top: 1em;
  left: -1em;
}

body  {
    width:100%;
    height: 100vh;
}

   #stepBanner {
  display: flex;
  justify-content: center;
  width: 50%;
  height:90%;
  background: url(./assets/images/bg-sidebar-desktop.svg) no-repeat;
  background-size: contain;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background: #fff;
  width:800px;
  height: 550px;
}



input[type='text'], input[type='email'] {
   width: 100%;
}
}

@media (min-width: 1440px) {
  main {
    transform: scale(1.1);
  }
}